<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <h1>Login</h1>
    <%- include('./partials/nav.ejs') %>
    <form id="login-form">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
      
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
      
        <button type="button" onclick="loginUser()">Login</button>
      </form>
      <script type="text/javascript" src="/scripts.js"></script>
    <%- include('./partials/footer.ejs') %>
</body>
</html>